/* Storytelling System Dot Rating Widget v1.1 */

.ss-dot-rating:before {
    content: attr(data-dot-title);
    vertical-align: middle;
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding: 0px;
}

.ss-dot {
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 0.8em;
    width: 0.8em;
    margin: 0.1em;
    border-radius: 1em;
    border-style: solid;
    border-width: 0.1em;
    border-color: black;
    background-color: white;
}

.ss-dot:nth-child(5n) {
    margin-right: 0.6em;
}

.ss-dot-marked {
    background-color: black;
}

.ss-dot:hover {
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.75);
}

.ss-dot-xmark {
    border-radius: 0em;
    background-color: white;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-clip: border-box;
}

.ss-dot-xmark.ss-dot-marked {
    background-image: url(xmark.svg);
}
