/* Storytelling System Dot Rating Widget v1.2.1 */

ss-rating {
    display: block;
    max-width: 20em;
    padding: 0.1em 0.2em;
}

.ss-title {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}

.ss-dots {
    display: inline-block;
    float: right;
    margin: 0px;
    padding: 0px;
}

.ss-dot {
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 0.8em;
    width: 0.8em;
    margin: 0.1em;
    border-radius: 1em;
    border-style: solid;
    border-width: 0.1em;
    border-color: black;
    background-color: white;
}

/* Every 5 child elements... */
.ss-dot:nth-child(5n) {
    margin-right: 0.6em;
}

.ss-dot-marked {
    background-color: black;
}

.ss-dot:hover {
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.75);
}

.ss-dot-xmark {
    border-radius: 0em;
    background-color: white;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-clip: border-box;
}

.ss-dot-xmark.ss-dot-marked {
    background-image: url(ss-xmark.svg);
}
